<!DOCTYPE html>
<html>
  <head>
    <title>Slapify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta property="og:title" content="Slapify" />
    <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
    <meta property="og:description"
      content="A clone of Spotify"
    />
    <meta property="og:url"
      content="https://swong-slapify.herokuapp.com/?#/"
    />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.slapLogoURL = "<%= image_url('slapify-logo.png') %>";
      window.revLogoURL = "<%= image_url('slapify-logo-reverse.png') %>";
      window.raveURL = "<%= image_url('rave-concert.jpg') %>";
      window.facebookURL = "<%= image_url('facebook.png') %>";
      window.githubURL = "<%= image_url('github2.png') %>";
      window.instagramURL = "<%= image_url('instagram-logo.png') %>";
      window.linkedinURL = "<%= image_url('linkedin.png') %>";
      window.nomusicURL = "<%= image_url('simon-noh-0rmby-3OTeI-unsplash.jpg') %>";
      window.splatterURL = "<%= image_url('dan-cristian-padure-drggDXTM7Lw-unsplash.jpg') %>";
      window.notFoundURL = "<%= image_url('not_found.png') %>";
      window.playURL = "<%= image_url('playbuttonnew.png') %>";
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
