<!DOCTYPE html>
<html>
  <head>
    <title>Slapify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.slapLogoURL = "<%= image_url('slapify-logo.png') %>";
      window.revLogoURL = "<%= image_url('slapify-logo-reverse.png') %>";
      window.raveURL = "<%= image_url('rave-concert.jpg') %>";
      window.facebookURL = "<%= image_url('facebook.png') %>";
      window.githubURL = "<%= image_url('github2.png') %>";
      window.instagramURL = "<%= image_url('instagram-logo.png') %>";
      window.linkedinURL = "<%= image_url('linkedin.png') %>";
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
